%svg-common {
	background: url("sprite-svg-593b12de.svg") no-repeat;
}

.svg-icon-arrow {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon-arrow-dims {
	width: 512px;
	height: 512px;
}

.svg-icon-calendar {
	@extend %svg-common;
	background-position: 87.22316865417376% 77.1484375%;
}

.svg-icon-calendar-dims {
	width: 64px;
	height: 64px;
}

.svg-icon-cart {
	@extend %svg-common;
	background-position: 98.12606473594549% 77.1484375%;
}

.svg-icon-cart-dims {
	width: 64px;
	height: 64px;
}

.svg-icon-email {
	@extend %svg-common;
	background-position: 93.20066334991708% 86.93181818181819%;
}

.svg-icon-email-dims {
	width: 48px;
	height: 48px;
}

.svg-icon-gmap {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-icon-gmap-dims {
	width: 139px;
	height: 139px;
}

.svg-icon-help {
	@extend %svg-common;
	background-position: 97.89674952198853% 31.026785714285715%;
}

.svg-icon-help-dims {
	width: 128px;
	height: 128px;
}

.svg-icon-pdf {
	@extend %svg-common;
	background-position: 97.28867623604465% 83.15217391304348%;
}

.svg-icon-pdf-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-phone {
	@extend %svg-common;
	background-position: 85.19134775374376% 87.26235741444867%;
}

.svg-icon-phone-dims {
	width: 50px;
	height: 50px;
}

.svg-icon-search {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icon-search-dims {
	width: 64px;
	height: 64px;
}

.svg-icon_location {
	@extend %svg-common;
	background-position: 97.89674952198853% 59.598214285714285%;
}

.svg-icon_location-dims {
	width: 128px;
	height: 128px;
}

