body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: normal $content-font-size $font-std;
    line-height: 180%;
    color: $content-color-text;
    background: $body-bg;
    a {
        color: $content-color-link;
        text-decoration: underline;
        @include transition(all .2s);
        &:hover, &:focus {
            color: $content-color-link-hover;
            text-decoration: none;
        }
    }
}

i {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.pull {
    &-right {
        float: right;
    } 
    &-left {
        float: left;
    }
}

.center {
    text-align: center;
}


.btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    @include transition(all .2s);
    &-border {
        margin: 0;
        padding: 15px 25px;
        font: bold 1rem/100% $font-title-sec;
        border: 1px solid #dddddd;
        background: #ffffff;
        color: #292c37;
        &:hover, &:focus {
            color: lighten(#292c37, 10%);
            background: darken(#ffffff, 10%);
            border-color: lighten(#292c37, 50%);
        }
    }
    &-primary {
        margin: 0;
        padding: 15px 25px;
        font: bold 1rem/100% $font-title-sec;
        border: 1px solid #b11623;
        background: #b11623;
        color: #ffffff;
        &:hover, &:focus {
            color: darken(#ffffff, 10%);
            background: darken(#b11623, 10%);
        }
        &--white {
            border: 1px solid #ffffff;
            background: #ffffff;
            color: #292c37;
            &:hover, &:focus {
                color: lighten(#292c37, 15%);
                background: darken(#ffffff, 15%);
                border-color: #292c37;
            }
        }
    }
}

.icon {
    margin-right: 10px;
    &--arrow-up {
        width: 12px;
        height: 7px;
        @include inline-svg-icon("icon-arrow-up", #292c37, center, 11px 7px);
    }
    &--arrow-right {
        width: 7px;
        height: 12px;
        @include inline-svg-icon("icon-arrow-right", #292c37, center, 7px 11px);
    }
    &--arrow-down {
        width: 12px;
        height: 7px;
        @include inline-svg-icon("icon-arrow-down", #292c37, center, 11px 7px);
    }
    &--arrow-left {
        width: 7px;
        height: 12px;
        @include inline-svg-icon("icon-arrow-left", #292c37, center, 7px 11px);
    }
    &--calendar {
        width: 43px;
        height: 41px;
        @include inline-svg-icon("icon-calendar", #ffffff, center, 43px 41px);
    }
    &--cart {
        width: 25px;
        height: 24px;
        @include inline-svg-icon("icon-cart", #ffffff, center, 25px 24px);
    }
    &--email {
        margin-bottom: 2px;
        width: 30px;
        height: 20px;
        @include inline-svg-icon("icon-email", #ffffff, center, 30px 20px);
    }
    &--gmap {

    }
    &--help {
        width: 26px;
        height: 26px;
        @include inline-svg-icon("icon-help", #ffffff, center, 26px 26px);
    }
    &--location {
        width: 26px;
        height: 26px;
        @include inline-svg-icon("icon-location", #ffffff, center, 26px 26px);
    }
    &--file {
        width: 18px;
        height: 23px;
        @include inline-svg-icon("icon-pdf", #ffffff, center, 18px 23px);
    }
    &--phone {
        width: 21px;
        height: 25px;
        @include inline-svg-icon("icon-phone", #ffffff, center, 21px 25px);
    }
    &--search {
        width: 22px;
        height: 22px;
        @include inline-svg-icon("icon-search", #ffffff, center, 22px 22px);
    }
    &--envelope {
        width: 22px;
        height: 22px;
        @include inline-svg-icon("icon-envelope", #383e42, center, 22px 22px);
    }
    &--linkedin {
        width: 22px;
        height: 22px;
        @include inline-svg-icon("icon-linkedin", #383e42, center, 22px 22px);
    }
    &--facebook {
        width: 22px;
        height: 22px;
        @include inline-svg-icon("icon-facebook", #383e42, center, 22px 22px);
    }
    &--twitter {
        width: 22px;
        height: 22px;
        @include inline-svg-icon("icon-twitter", #383e42, center, 22px 22px);
    }
    &--print {
        width: 22px;
        height: 22px;
        @include inline-svg-icon("icon-print", #383e42, center, 22px 22px);
    }
}

.link {
    &-stretched::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        background-color: rgba(0,0,0,0);
    }
}

.headersite {
    &-top {
        background: #202020;

    }
    &-bottom {
        background: #ffffff; 
    }
    .logo {
        margin: 14px 0 auto 0;
        // padding: 0 30px 0 0;
        // @extend .col-3;
        a {
            display: block;
        }
    }
    .nav-help {
        margin-left: auto;
    }
}

.promotional {
    background: #292c37;
    display: block;
    &-slider {
        padding-left: 0;
        &-inner {
            // margin-left: -20vw;
            height: 100%; 
            .slick-list, .slick-track {
                height: 100%;
            }
            li {
                @include display-flex;
                margin: 0;
            }
            .item {
                position: relative;
                &-data {
                    height: 100%;
                    float: right;
                    z-index: 110;
                }
                &-image {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 100;
                    @include display-flex;
                    img {
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                        background: rgba(#000000, 0.2);
                    }
                }
                &-title {
                    margin: 4rem 0 2rem 0;
                    color: #ffffff;
                    font: normal 2.571rem/120% $font-title-extra;
                    text-shadow: 0 0 20px #000000;
                }
                &-time {
                    margin: 0 0 8px 0;
                    padding: 5px 10px;
                    color: #ffffff;
                    background: $main-color; 
                    display: inline-block;
                }
                &-text {
                    padding: 5px 10px;
                    width: 70%;
                    color: #ffffff;
                    background: #000000;
                    display: block;
                }
                .btn {
                    position: absolute;
                    right: 30px;
                    bottom: 30px;
                }
            }
        }
        &-dots {
            position: absolute;
            bottom: 0;
            right: 30px;
            .slick-dots {
                margin: 0 0 30px 0;
                padding: 0;
                list-style: none;
                text-align: left;
                li {
                    margin: 0 13px 5px 0;
                    padding: 0;
                    display: inline-block;
                    button {
                        padding: 0;
                        width: 14px;
                        height: 14px;
                        border: 0;
                        display: block;
                        outline: none;
                        font-size: 0;
                        line-height: 0;
                        background: transparent;
                        border-radius: 50%;
                        box-shadow: 0 0 0 3px #ffffff;

                        @include transition(all .2s);
                    }
                    &.slick-active {
                        button {
                            background: #ffffff;
                            box-shadow: 0 0 0 5px #ffffff;
                        }
                    }
                }
            }

        }

    }
    &-text {
        padding-top: 20px;
        padding-bottom: 30px;
        p {
            color: #ffffff;
        }
    }
}

.insetbox {
    padding: 26px 0 40px 0;
    background: #059a99;
    display: block;
    p {
        color: #cdebeb;
    }
    &--admission {
        margin-bottom: 60px;
        padding: 40px 0;
        background: #292c37;
        p {
            color: #ffffff;
        }
    }
}

.theytrusted {
    background: #ffffff;
    @include clearfix;
    &-inner {
        margin-bottom: 30px;
    } 
}


.itembox {
    margin: 0 0 30px 0;
    width: 100%;
    @include display-flex;
    &-image-hld {
        padding: 0;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        @include display-flex;
        .label {
            padding: 5px 10px;
            font-size: 0.7857rem;
            position: absolute;
            top: 20px;
            right: 0;
            z-index: 100;
        }
        img {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            @include transition(all .2s);
            &:hover, &:focus {
                @include scale3d(1.05, 1.05, 1);
            }
        }
    }
    &-data {
        padding: 20px;
        border: 1px solid #dddddd;
        border-left: none;
        background: #ffffff;
        @include display-flex;
        @include flex-direction(column);
    }
    &-body {
        margin-top: auto;
        align-items: stretch;
        @include display-flex;
        @include flex-direction(row);
    }
    &-header {
        &-title {
            color: #000000;
            font: normal 2rem/100% $font-title;
            min-height: 40px;

        }
        &-subtitle {
            color: #035959;
            font: italic 1.357rem/120% $font-title-sec;
        }
    }
    &-content {
        padding: 0  20px 0 0;
        p {
            &:last-child {
                margin: 0;
            }
        }
    }
    &-action {
        padding: 0;
        width: 100%;
        position: relative;
        @include display-flex;
        @include flex-direction(column);
        .icon--calendar {
            margin-left: 5px;
            float: left;
        }
        p {
            text-align: left;
            small {
                font-size: 0.7857rem;
            }
        }
        b {
            text-align: left;
            margin-bottom: 10px;
            color: #656565;
            font-size: 0.8571rem;
            display: block;
        }
        .btn {
            margin-top: auto;
            width: 100%;
            text-align: center;
        }
        &-item {
            display: block;
            color: #000000;
            text-decoration: none;
            &:hover, &:focus {
                color: lighten(#000000, 70%);
                text-decoration: none;
            } 
        }
        &--line {
            &::after {
                content: "";
                width: 1px;
                height: auto;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 60px;
                z-index: 100;
                background: #e6e6e8;
            }
            p {
                padding-left: 15px;
                text-align: right;
            }
        }

    }
}

.listing {
    &-action {
        margin: 10px 0 60px 0;
        text-align: right;
        .icon {
            margin: 0;
            vertical-align: initial;
        }
        .pagination {
            display: inline-block;
            li {
                display: inline-block;
                list-style: none;
                a,
                span {
                    margin: 0 0 0 4px;
                    padding: 8px 15px;
                    color: #282828;
                    font: normal 1rem/100% $font-title-sec;
                    border: 1px solid transparent;
                    text-decoration: none;
                    background: #ffffff;
                    border: 1px solid #dddddd;
                    text-decoration: none;
                    &:hover, &:focus {
                        color: lighten(#292c37, 10%);
                        background: darken(#ffffff, 10%);
                        border-color: lighten(#292c37, 50%);
                    }
                }
                &.active {
                    a {
                        background: $main-color;
                        border-color: $main-color;
                        color: #ffffff;
                        &:hover, &:focus {
                            background: darken($main-color, 10%);
                        }
                    }

                }
                &.blank {
                    a,
                    span {
                        background: none;
                        border: 1px solid transparent;
                    }

                }
                &.prev,
                &.next {
                    a,
                    span {
                        padding: 7px 15px 9px 15px;
                    }
                }
                &.next {
                    .icon {
                        margin-left: 5px;
                    }
                }
                &.prev {
                    .icon {
                        margin-right: 5px;
                    }
                }
            }

        }
        .btn {
            padding: 11px 15px;
        }
        .dropdown-toggle {
            .icon {
                margin: 0 0 2px 5px
            }
        }
        .dropdown-menu {
            margin: 0;
            border: 1px solid #dddddd;
            .dropdown-item {
                a {
                    color: #282828;
                    text-decoration: none;
                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                }

            }
        }
    }
}

.footersite {
    padding: 25px 0 15px 0;
    background: #202020; 
    &-data {
        .logo {
            margin-bottom: 14px;
            width: 240px;
            a {
                display: block;
            }
        }
        .list {
            margin: 0 0 20px 0;
            &--icon {
                .list-item {
                    padding: 6px 0;
                }
            }
            .icon {
                width: 30px;
            }

        }
        p {
            color: #ffffff;
        }

    }
    &-copyright {
        padding: 10px 0;
        border-top: 1px solid #797979;
        p {
            margin: 5px 0 0 0;
            padding: 0;
            font-size:  0.7857rem;
            line-height: 120%;
            color: #909090;
        }
        a {
            color: lighten(#909090, 10%);
            text-decoration: underline;
            &:hover, &:focus {
                color: darken(#909090, 10%);
                text-decoration: none;
            }
        }
    }
}

