$body-bg: #e5e5e5;

$font-std: Verdana, Arial, sans-serif;
$font-head: 'OpenSans', Arial, sans-serif;
$font-title: 'OpenSansCondensed', Arial, sans-serif;
$font-title-sec: 'OpenSansSemiBold', Arial, sans-serif;
$font-title-extra: 'OpenSansExtraBold', Arial, sans-serif;

$nav-top-color: #FFF;
$nav-bottom-color: #FFF;

$content-font-size: 14px;

$content-color-text: #000000;
$content-color-link: #cc0;
$content-color-link-hover: #cc0c;